@import './design-system.css';

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700;800&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}